[submodule "introduction-to-git-and-github-ateendra24"]
	path = introduction-to-git-and-github-ateendra24
	url = https://github.com/Software-Incubator-Trainee/introduction-to-git-and-github-ateendra24
